@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

<div id="chatbox-list" @ref="List">
	@foreach (var data in messages)
	{
		<ChatMessage Data="@data"></ChatMessage>
	}
</div>
<TextEntry id="chatbox-input" onsubmit="@OnSubmit" @ref="TextEntry"></TextEntry>

@code
{
	const int MESSAGE_LIMIT = 32;
	const float FLASH_TIME = 5f;

	TextEntry TextEntry { get; set; }
	Panel List { get; set; }

	Queue<ChatMessage.IData> messages = new();

	public void OnSystemMessage(string content)
	{
		AddMessage(new ChatMessage.SystemData(content));
	}

	public void OnUserMessage(string content, Connection sender)
	{
		AddMessage(new ChatMessage.UserData(content, sender));
	}

	void AddMessage(ChatMessage.IData data)
	{
		messages.Enqueue(data);

		if (messages.Count > MESSAGE_LIMIT)
		{
			messages.Dequeue();
		}

		if (!HasClass("open"))
		{
			FlashClass("visible", FLASH_TIME);
		}
	}

	public override void Tick()
	{
		if (Input.Pressed("chat"))
		{
			Open();
		}

		if (HasClass("open") && !TextEntry.HasFocus)
		{
			TextEntry.Focus();
		}
	}

	public void OnSubmit()
	{
		var content = TextEntry.Text;
		if (!string.IsNullOrWhiteSpace(content))
		{
			Chat.UserMessage(content);
			TextEntry.AddToHistory(content);
		}

		Close();
	}

	protected override void OnEscape(PanelEvent e)
	{
		Close();
	}

	void Open()
	{
		SetClass("open", true);
		FlashClass("visible", 999999f);
	}

	void Close()
	{
		SetClass("open", false);
		FlashClass("visible", FLASH_TIME);
		TextEntry.Text = "";
	}

	protected override int BuildHash() => messages.Count;
}
