@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container">
    <VirtualList Items=@Items ItemHeight=@(20) id="chatbox" @ref="VirtualList" class="panel">
        <Item Context="item">
            @if (item is Message)
            {
                @if (item is UserMessage userEntry)
                {
                    <Label class="message user" Text="@userEntry.sender: @userEntry.content"></Label>
                }
                else if (item is HostMessage hostEntry)
                {
                    <Label class="message host" Text="@hostEntry.content"></Label>
                }
            }
        </Item>
    </VirtualList>
</div>

@code
{
    VirtualList VirtualList { get; set; }
    
    List<Message> Items { get; set; } = new();

    public abstract class Message
    {
        public string content;
    }

    public class UserMessage : Message 
    {
        public string sender;

        public UserMessage(string content, string sender)
        {
            this.content = content;
            this.sender = sender;
        }
    }

    public class HostMessage : Message 
    {
        public HostMessage(string content)
        {
            this.content = content;
        }
    }
    
    public void AddMessage(Message message)
    {
        VirtualList.AddItem(message);
    }

    protected override int BuildHash() => System.HashCode.Combine(Items.GetHashCode());
}