@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container" @ref="Container">
    <div id="chatbox">
        <VirtualList Items=@Items ItemHeight=@(20) @ref="VirtualList" id="list">
            <Item Context="item">
                @if (item is IMessage)
                {
                    @if (item is UserMessage userEntry)
                    {
                        <Label class="message user" Text="@userEntry.sender: @userEntry.content"></Label>
                    }
                    else if (item is SystemMessage hostEntry)
                    {
                        <Label class="message host" Text="@hostEntry.content"></Label>
                    }
                }
            </Item>
        </VirtualList>
        <TextEntry id="input" @ref="TextEntry" onsubmit=@OnSubmit></TextEntry>
    </div>
</div>

@code
{
    Panel Container { get; set; }
    VirtualList VirtualList { get; set; }
    TextEntry TextEntry { get; set; }

    List<IMessage> Items { get; set; } = new();
    
    public interface IMessage { }

    public struct UserMessage : IMessage 
    {
        public required string content;
        public required string sender;
    }

    public struct SystemMessage : IMessage 
    {
        public required string content;
    }
    
    public void AddMessage(IMessage message)
    {
        VirtualList.AddItem(message);
        
        if (!Container.HasClass("open"))
        {
            Peek();
        }
    }

    public override void Tick()
    {
        VirtualList.PreferScrollToBottom = true;

        if (Input.Pressed("Chat"))
        {
            Open();
        }
    }

    void OnSubmit()
    {
        var input = TextEntry.Text;
        if (!string.IsNullOrWhiteSpace(input))
        {
            Chat.Instance.UserMessage(input);
            TextEntry.AddToHistory(input);
        }

        Close();
    }

    protected override void OnEscape(PanelEvent e)
    {
        Close();
    }

    /// <summary>
    /// Reveals the messages for a few seconds.
    /// </summary>
    void Peek()
    {
        Container.FlashClass("visible", 5f);
        VirtualList.TryScrollToBottom();
    }

    /// <summary>
    /// Reveals the chatbox and allows the user to type.
    /// </summary>
    void Open()
    {
        Container.SetClass("open", true);
        Container.FlashClass("visible", 999999f);
        InputFocus.Set(TextEntry);
    }

    /// <summary>
    /// Resets input and hides the chatbox after a few seconds.
    /// </summary>
    void Close()
    {
        Container.SetClass("open", false);
        Peek();
        TextEntry.Text = "";
    }

    protected override int BuildHash() => System.HashCode.Combine(Items.GetHashCode());
}