@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container" @ref="Container">
    <div id="chatbox">
        <VirtualList Items=@Items ItemHeight=@(20) @ref="VirtualList" id="list">
            <Item Context="item">
                @if (item is Message)
                {
                    @if (item is UserMessage userEntry)
                    {
                        <Label class="message user" Text="@userEntry.sender: @userEntry.content"></Label>
                    }
                    else if (item is HostMessage hostEntry)
                    {
                        <Label class="message host" Text="@hostEntry.content"></Label>
                    }
                }
            </Item>
        </VirtualList>
        <TextEntry id="input" @ref="TextEntry" onsubmit=@OnSubmit></TextEntry>
    </div>
</div>

@code
{
    /* References */

    Panel Container { get; set; }
    VirtualList VirtualList { get; set; }
    TextEntry TextEntry { get; set; }

    /* Properties */

    List<Message> Items { get; set; } = new();
    
    /* Message Types */

    public abstract class Message
    {
        public string content;
    }

    public class UserMessage : Message 
    {
        public string sender;

        public UserMessage(string content, string sender)
        {
            this.content = content;
            this.sender = sender;
        }
    }

    public class HostMessage : Message 
    {
        public HostMessage(string content)
        {
            this.content = content;
        }
    }
    
    /* Public Methods */

    public void AddMessage(Message message)
    {
        VirtualList.AddItem(message);
        
        if (!Container.HasClass("open"))
        {
            Peek();
        }
    }

    /* Events */

    public override void Tick()
    {
        VirtualList.PreferScrollToBottom = true;

        if (Input.Pressed("Chat"))
        {
            Open();
        }
    }

    void OnSubmit()
    {
        var input = TextEntry.Text;
        if (!string.IsNullOrWhiteSpace(input))
        {
            Chat.Instance.Say(input);
            TextEntry.AddToHistory(input);
        }

        Close();
    }

    protected override void OnEscape(PanelEvent e)
    {
        Close();
    }

    /* Private Methods */

    /// <summary>
    /// Reveals the messages for a few seconds.
    /// </summary>
    void Peek()
    {
        Container.FlashClass("visible", 5f);
        VirtualList.TryScrollToBottom();
    }

    /// <summary>
    /// Reveals the chatbox and allows the user to type.
    /// </summary>
    void Open()
    {
        Container.SetClass("open", true);
        Container.FlashClass("visible", 999999f);
        InputFocus.Set(TextEntry);
    }

    /// <summary>
    /// Resets input and hides the chatbox after a few seconds.
    /// </summary>
    void Close()
    {
        Container.SetClass("open", false);
        Peek();
        TextEntry.Text = "";
    }

    protected override int BuildHash() => System.HashCode.Combine(Items.GetHashCode());
}