@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container" @ref="Container">
    <div id="chatbox">
        <VirtualList Items=@Items ItemHeight=@(24) @ref="VirtualList" id="list">
            <Item Context="item">
                @if (item is IMessage)
                {
                    @if (item is UserMessage userEntry)
                    {
                        <div class="message user">
                            <Image class="avatar" Texture="@userEntry.avatar"></Image>
                            <Label class="text" Text="@userEntry.sender: @userEntry.content"></Label>
                        </div>
                    }
                    else if (item is SystemMessage systemEntry)
                    {
                        <div class="message system">
                            <Label class="text" Text="@systemEntry.content"></Label>
                        </div>
                    }
                }
            </Item>
        </VirtualList>
        <TextEntry id="input" @ref="TextEntry" onsubmit=@OnSubmit></TextEntry>
    </div>
</div>

@code
{
    Panel Container { get; set; }
    VirtualList VirtualList { get; set; }
    TextEntry TextEntry { get; set; }

    List<IMessage> Items { get; set; } = new();
    
    interface IMessage { }

    struct UserMessage : IMessage 
    {
        public required string content;
        public required string sender;
        public required Texture avatar;
    }

    struct SystemMessage : IMessage 
    {
        public required string content;
    }

    public void AddUserMessage(string content, Connection caller)
    {
        AddMessage(new UserMessage() 
        { 
            content = content,
            sender = caller.DisplayName,
            avatar = Texture.LoadAvatar(caller.SteamId)
        });
    }
    
    public void AddSystemMessage(string content)
    {
        AddMessage(new SystemMessage() 
        { 
            content = content
        });
    }

    void AddMessage(IMessage message)
    {
        VirtualList.AddItem(message);
        
        if (!Container.HasClass("open"))
        {
            Peek();
        }
    }

    public override void Tick()
    {
        TextEntry.MaxLength = 32;
        VirtualList.PreferScrollToBottom = true;

        if (Input.Pressed("Chat"))
        {
            Open();
        }
    }

    void OnSubmit()
    {
        var input = TextEntry.Text;
        if (!string.IsNullOrWhiteSpace(input))
        {
            Chat.Instance.UserMessage(input);
            TextEntry.AddToHistory(input);
        }

        Close();
    }

    protected override void OnEscape(PanelEvent e)
    {
        Close();
    }

    /// <summary>
    /// Reveals the messages for a few seconds.
    /// </summary>
    void Peek()
    {
        Container.FlashClass("visible", 5f);
        VirtualList.TryScrollToBottom();
    }

    /// <summary>
    /// Reveals the chatbox and allows the user to type.
    /// </summary>
    void Open()
    {
        Container.SetClass("open", true);
        Container.FlashClass("visible", 999999f);
        InputFocus.Set(TextEntry);
    }

    /// <summary>
    /// Resets input and hides the chatbox after a few seconds.
    /// </summary>
    void Close()
    {
        Container.SetClass("open", false);
        Peek();
        TextEntry.Text = "";
    }

    protected override int BuildHash() => System.HashCode.Combine(Items.GetHashCode());
}