#chatbox-container
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 30px;
	padding-bottom: 90px;
	align-items: flex-end;
	opacity: 0;
	transition: opacity 2s ease-out;
	border: 1px solid transparent;

	#chatbox {
		width: 600px;
		height: 200px;
		flex-direction: column;
		border-radius: 2px;
		border: 2px solid transparent;
		
		#list {
			width: 100%;
			flex-grow: 1;
			pointer-events: none;
			overflow-y: hidden;
			padding: 5px;
			row-gap: 2.5px;
			
			.message {
				width: 100%;
				height: 20px;
				align-items: center;
				column-gap: 5px;

				.avatar {
					height: 100%;
				}
				
				.text {
					font-size: 15px;
					align-items: center;
					white-space: nowrap;
					overflow: hidden;
				}

				&.user {
					color: white;
				}

				&.system {
					color: white;
					font-weight: bold;
				}
			}
		}

		#input {
			width: 100%;
			height: 30px;
			pointer-events: none;
			color: white;
			font-size: 15px;
		}
	}
	
	&.visible {
		opacity: 1;
		transition: opacity 0s;
	}
	
	&.open {
		#chatbox {
			background-color: rgba(22, 22, 22, 0.5);
			border: 2px solid rgba(22, 22, 22, 0.5);
			border-radius: 2px;
	
			#list {
				pointer-events: all;
				overflow-y: scroll;
			}
			
			#input {
				pointer-events: all;
				border-top: 2px solid rgba(22, 22, 22, 0.5);
			}
		}
	}
}