#chatbox-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 20px;
	align-items: flex-end;
	display: none;

	#chatbox {
		width: 400px;
		height: 300px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 2px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		flex-direction: column;
		
		#list {
			width: 100%;
			flex-grow: 1;
			overflow-y: scroll;
			pointer-events: all;
			padding: 5px;

			.message {
				width: 100%;
				height: 20px;
				font-size: 16px;
				align-items: center;
				// font-family: 'Rubik'; // not included
			}
			
			.message.host {
				color: violet;
			}
			
			.message.user {
				color: white;
			}
		}

		#input {
			width: 100%;
			height: 40px;
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			font-size: 16px;
			pointer-events: all;
		}
	}
}

#chatbox-container.open {
	display: flex;
}