@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container" @ref="Container">
    <div id="chatbox">
        <VirtualList ItemHeight=@(24) @ref="VirtualList" id="list">
            <Item Context="item">
                @if (item is IMessage)
                {
                    @if (item is UserMessage userEntry)
                    {
                        <div class="message user">
                            <Image class="avatar" Texture="@userEntry.avatar"></Image>
                            <Label class="text" Text="@userEntry.sender: @userEntry.content"></Label>
                        </div>
                    }
                    else if (item is SystemMessage systemEntry)
                    {
                        <div class="message system">
                            <Label class="text" Text="@systemEntry.content"></Label>
                        </div>
                    }
                }
            </Item>
        </VirtualList>
        <TextEntry id="input" @ref="TextEntry" onsubmit=@OnSubmit></TextEntry>
    </div>
</div>

@code
{
    Panel Container { get; set; }
    VirtualList VirtualList { get; set; }
    TextEntry TextEntry { get; set; }

    public interface IMessage { }

    /// <summary>
    /// Represents a message sent by a player.
    /// </summary>
    public struct UserMessage : IMessage 
    {
        public string content;
        public string sender;
        public Texture avatar;

        public UserMessage(string content, Connection caller)
        {
            this.content = content;
            this.sender = caller.DisplayName;
            this.avatar = Texture.LoadAvatar(caller.SteamId);
        }
    }

    /// <summary>
    /// Represents a message sent by the game.
    /// </summary>
    public struct SystemMessage : IMessage 
    {
        public string content;

        public SystemMessage(string content) 
        {
            this.content = content;
        }
    }

    /// <summary>
    /// Adds a new message to the chatbox.
    /// </summary>
    public void AddMessage(IMessage message)
    {
        VirtualList.AddItem(message);
        
        if (!Container.HasClass("open"))
        {
            Peek();
        }
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        TextEntry.MaxLength = 32;
        VirtualList.PreferScrollToBottom = true;
    }

    public override void Tick()
    {
        if (Input.Pressed("Chat"))
        {
            Open();
        }
    }

    void OnSubmit()
    {
        var input = TextEntry.Text;
        if (!string.IsNullOrWhiteSpace(input))
        {
            Chat.Instance.UserMessage(input);
            TextEntry.AddToHistory(input);
        }

        Close();
    }

    protected override void OnEscape(PanelEvent e)
    {
        Close();
    }

    /// <summary>
    /// Reveals the messages for a few seconds.
    /// </summary>
    void Peek()
    {
        Container.FlashClass("visible", 5f);
        VirtualList.TryScrollToBottom();
    }

    /// <summary>
    /// Reveals the chatbox and allows the user to type.
    /// </summary>
    void Open()
    {
        Container.SetClass("open", true);
        Container.FlashClass("visible", 999999f);
        InputFocus.Set(TextEntry);
    }

    /// <summary>
    /// Resets input and hides the chatbox after a few seconds.
    /// </summary>
    void Close()
    {
        Container.SetClass("open", false);
        Peek();
        TextEntry.Text = "";
    }

    protected override int BuildHash() => System.HashCode.Combine(0);
}