@using Sandbox;
@using Sandbox.UI;

<div id="chatbox-container" @ref="Container">
    <div id="chatbox">
        <VirtualList Items=@Items ItemHeight=@(20) @ref="VirtualList" id="list">
            <Item Context="item">
                @if (item is Message)
                {
                    @if (item is UserMessage userEntry)
                    {
                        <Label class="message user" Text="@userEntry.sender: @userEntry.content"></Label>
                    }
                    else if (item is HostMessage hostEntry)
                    {
                        <Label class="message host" Text="@hostEntry.content"></Label>
                    }
                }
            </Item>
        </VirtualList>
        <TextEntry id="input" @ref="TextEntry" onsubmit=@Submit></TextEntry>
    </div>
</div>

@code
{
    VirtualList VirtualList { get; set; }
    
    List<Message> Items { get; set; } = new();

    Panel Container { get; set; }

    TextEntry TextEntry { get; set; }

    public abstract class Message
    {
        public string content;
    }

    public class UserMessage : Message 
    {
        public string sender;

        public UserMessage(string content, string sender)
        {
            this.content = content;
            this.sender = sender;
        }
    }

    public class HostMessage : Message 
    {
        public HostMessage(string content)
        {
            this.content = content;
        }
    }

    public void OnUpdate()
    {
        VirtualList.PreferScrollToBottom = true;

        @* if (Container.HasClass("open"))
        {
            if (InputFocus.Current != TextEntry)
            {
                Close();
            }
        }
        else *@
        {
            if (Input.Pressed("Chat"))
            {
                Open();
            }
        }
    }
    
    public void AddMessage(Message message)
    {
        VirtualList.AddItem(message);
        Show();
    }

    void Show()
    {
        Container.FlashClass("visible", 5f);
        
        if (!Container.HasClass("open"))
        {
            VirtualList.TryScrollToBottom();
        }
    }

    void Open()
    {
        Container.SetClass("open", true);
        Container.SetClass("visible", true);
        InputFocus.Set(TextEntry);
    }

    void Close()
    {
        TextEntry.Text = "";
        Container.SetClass("open", false);
        Container.FlashClass("visible", 5f);
    }

    void Submit()
    {
        var input = TextEntry.Text;
        if (!string.IsNullOrWhiteSpace(input))
        {
            Chat.Instance.Say(input);
            TextEntry.AddToHistory(input);
        }

        Close();
    }

    protected override int BuildHash() => System.HashCode.Combine(Items.GetHashCode());
}