$large-font-size: 20px;
$small-font-size: 15px;
$hider-color: rgb(130, 179, 221);
$seeker-color: rgb(209, 132, 121);
$background-color: rgba(44, 44, 44, 0.8);
$background-border: 2px solid rgba(11, 11, 11, 0.8);
$background-border-radius: 2px;
$background-padding: 5px;
$container-padding: 30px;

#root {
    font-family: 'Comic Sans MS';
    color: white;
}