@using Sandbox
@using Sandbox.UI
@using Sandbox.Services.Players;

<div id="status-bar-container">
    <Label Text="@Name (@Role)" id="status-bar-label"></Label>
    <div id="status-bar">
        <div id="status-bar-fill"></div>
    </div>
</div>

@code
{
    string Name => Profile.Local.Name; 
    string Role { get; set; } = "Hider";
}