@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

<div id="blindscreen" @ref="Panel"></div>

@code
{
	Panel Panel { get; set; }

	public override void Tick()
	{
		var player = Player.GetLocal();
		if (player == null) return;

		Panel.SetClass("visible", player.IsFrozen);
	}
}
