@import '../GUI.razor.scss';

.input-prompt-group {
    padding-top: 5px;
}

InputPrompt {
    background-color: $panel-background-color;
    border-radius: $panel-border-radius;
    border: $panel-border;
    backdrop-filter: $panel-backdrop-filter;
    padding: $panel-padding;

    box-shadow: $panel-box-shadow;
    
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    
    color: $secondary-color;
    font-family: $secondary-font-family;

    align-items: center;
    height: 33px;
}