@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace HNS

<div id="roundtimer-background">
	<Label id="roundtimer-label" Text="@Time"></Label>
</div>

@code 
{
	string Time { get; set; } = "";

	public override void Tick()
	{
		var round = Scene.Get<Round>();
		if (round == null) return;

		var time = MathF.Ceiling(round.TimeLeft);
		var timeSpan = TimeSpan.FromSeconds(time);
		Time = timeSpan.ToString("mm\\:ss");
	}

	protected override int BuildHash() => Time.GetHashCode();
}
