@import '../GUI.razor.scss';

RoundTimer {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: $gui-padding;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    flex-direction: column;
    transform-origin: 0% 0%;

    #roundtimer-horizontal-container {
        column-gap: 2px;
        align-items: center;

        #roundtimer-background {
            height: 40px;
            align-items: center;
            background-color: $panel-background-color;
            box-shadow: $panel-box-shadow;
            border: $panel-border;
            text-shadow: $primary-text-shadow;
            backdrop-filter: $panel-backdrop-filter;
            border-radius: $panel-border-radius;

            #roundtimer-time {
                align-items: center;
                height: 100%;
                justify-content: center;
                min-width: 70px;
                background-image: url("textures/stamina_bar.png");
                background-image-tint: $hider-color;
                padding: $panel-padding;
                border-top-left-radius: $panel-border-radius;
                border-bottom-left-radius: $panel-border-radius;
                font-size: $primary-font-size;
                color: $primary-color;
                font-family: $primary-font-family;
            }

            #roundtimer-status {
                font-family: $secondary-font-family;
                color: $secondary-color;
                font-weight: $secondary-font-weight;
                padding: $panel-padding;
                flex-grow: 1;
                border-top-right-radius: $panel-border-radius;
                border-bottom-right-radius: $panel-border-radius;
                justify-content: center;
                font-size: $secondary-font-size;
                min-width: 250px;
                align-items: center;
                height: 100%;
            }
        }
    }
}
