@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace HNS

<div id="roundtimer-background">
	<div id="roundtimer-time" class="@Role @Flash">
		<Label Text="@Time"></Label>
	</div>
	<div id="roundtimer-status">
		<Label Text="@Status"></Label>
	</div>
</div>

@code 
{
	string Time { get; set; } = "";
	string Status { get; set; } = "";

	string Role
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "";

			var role = player.CurrentRole;
			if (role == null) return "";

			return role.Name;
		}
	}

	string Flash
	{
		get
		{
			var round = Scene.Get<Round>();
			if (round == null) return "";

			return round.TimeLeft <= 5f ? "flash" : "";
		}
	}

	public override void Tick()
	{
		Time = GetTime();
		Status = GetStatus();
	}

	string GetTime()
	{
		var round = Scene.Get<Round>();
		if (round == null) return "";

		var time = MathF.Ceiling(round.TimeLeft);
		var timeSpan = TimeSpan.FromSeconds(time);
		var timeString = timeSpan.ToString("mm\\:ss");

		return timeString;
	}

	string GetStatus()
	{
		var round = Scene.Get<Round>();
		if (round == null) return "";

		return round.GetDescription();
	}

	protected override int BuildHash() => HashCode.Combine(Time, Status, Role);
}
