@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace HNS

<div id="roundtimer-horizontal-container">
	<div id="roundtimer-background">
		<div id="roundtimer-time">
			<Label Text="@Time"></Label>
		</div>
		<div id="roundtimer-status">
			<Label Text="@Status"></Label>
		</div>
	</div>
</div>

@code 
{
	string Time { get; set; } = "";
	string Status { get; set; } = "";

	public override void Tick()
	{
		Time = GetTime();
		Status = GetStatus();
	}

	string GetTime()
	{
		var round = Scene.Get<Round>();
		if (round == null) return "";

		var time = MathF.Ceiling(round.TimeLeft);
		var timeSpan = TimeSpan.FromSeconds(time);
		var timeString = timeSpan.ToString("mm\\:ss");

		return timeString;
	}

	string GetStatus()
	{
		var round = Scene.Get<Round>();
		if (round == null) return "";

		var description = round.GetDescription();
		if (description == null) return "Loading...";

		return description;
	}

	protected override int BuildHash() => Time.GetHashCode();
}
