@import '../../GUI.razor.scss';

ChatMessage {
    width: 100%;
    min-height: 40px;
    max-height: 120px;
    align-items: center;
    background-color: $background-color;
    border-radius: $background-border-radius;
    box-shadow: $background-box-shadow;
    border: $background-border;
    padding: $background-padding;
    text-shadow: $label-text-shadow;
    backdrop-filter: $background-backdrop-filter;

    .chatmessage-content {

    }

    .chatmessage-name {

    }

    .chatmessage-semicolon {
        margin-right: 0.3em;
    }
}
