@import '../../GUI.razor.scss';

ChatMessage {
    flex: 0 0 auto;
    min-height: 40px;
    max-height: 120px;
    color: $primary-color;
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight;
    font-size: $secondary-font-size;

    .chatmessage-avatar {
        flex: 0 0 auto;
        border-top-left-radius: $panel-border-radius;
        border-bottom-left-radius: $panel-border-radius;
        height: 40px;
        width: 40px;
    }

    .chatmessage-background {
        flex: 1 1 auto;
        background-color: $panel-background-color;
        // bug: shadows overflow
        //box-shadow: $panel-box-shadow;
        border: $panel-border;
        padding: $panel-padding;
        text-shadow: $primary-text-shadow;
        backdrop-filter: $panel-backdrop-filter;
        line-height: 21px;
        text-overflow: ellipsis;

        &.system {
            border-radius: $panel-border-radius;
            font-weight: $secondary-font-weight;
        }

        &.user {
            border-top-right-radius: $panel-border-radius;
            border-bottom-right-radius: $panel-border-radius;
        }

        .chatmessage-content {
            flex: 1 1 auto;
        }

        .chatmessage-name {
            flex: 0 0 auto;
            white-space: nowrap;
        }

        .chatmessage-semicolon {
            flex: 0 0 auto;
            margin-right: 0.3em;
        }
    }
}
