@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

@if (Data is SystemData systemData)
{
	<div class="chatmessage-background system">
		<Label class="chatmessage-content">@systemData.Content</Label>
	</div>
}
else if (Data is UserData userData)
{
	<Image class="chatmessage-avatar" Texture="@userData.Avatar"></Image>
	<div class="chatmessage-background user">
		<Label class="chatmessage-name" Text="@userData.Name"></Label>
		<Label class="chatmessage-semicolon" Text=":"></Label>
		<Label class="chatmessage-content" Text="@userData.Content"></Label>
	</div>
}

@code
{
	public IData Data { get; set; }

	public interface IData { }

	public struct SystemData : IData
	{
		public string Content { get; set; }

		public SystemData(string content)
		{
			Content = content;
		}
	}

	public new struct UserData : IData
	{
		public string Content { get; set; }
		public string Name { get; set; }
		public Texture Avatar { get; set; }

		public UserData(string content, Connection sender)
		{
			Content = content;
			Name = sender.DisplayName;
			Avatar = Texture.LoadAvatar(sender.SteamId, size: 40);
		}
	}
}
