@import '../GUI.razor.scss';

NameTag {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    text-shadow: $primary-text-shadow;
    font-family: $secondary-font-family;
    color: $primary-color;

    #nametag-label {
        &.seeker {
            color: $seeker-color;
        }

        &.hider {
            color: $hider-color;
        }
    }
}