@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services.Players;
@inherits Panel
@namespace HNS

<div id="nametag-container" class="container">
	<Label id="nametag-label" @ref="Label"></Label>
</div>

@code 
{
	Label Label { get; set; }

	public override void Tick()
	{
		var localPlayer = Player.GetLocal();
		if (localPlayer == null) return;

		var trace = localPlayer.Trace;
		if (trace.Hit && trace.GameObject.Components.TryGet<Player>(out var otherPlayer))
		{
			var role = otherPlayer.CurrentRole;

			Label.SetClass("hider", role is HiderRole);
			Label.SetClass("seeker", role is SeekerRole);

			var name = otherPlayer.Network.Owner.DisplayName;
			Label.Text = $"{name} ({role.Name})";
		}
		else
		{
			Label.Text = "";
		}
	}

	protected override int BuildHash() => System.HashCode.Combine(Label.Text);
}
