@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

<div id="inputlist-container">
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Chat"></Label>
		<InputPrompt class="inputlist-entry-key">ENTER</InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Flashlight"></Label>
		<InputPrompt class="inputlist-entry-key">F</InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Push"></Label>
		<InputPrompt class="inputlist-entry-key">E</InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="View"></Label>
		<InputPrompt class="inputlist-entry-key">C</InputPrompt>
	</div>
</div>
