@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

<div id="inputlist-container">
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Chat"></Label>
		<InputPrompt class="inputlist-entry-key" Action="Chat"></InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Flashlight"></Label>
		<InputPrompt class="inputlist-entry-key" Action="Flashlight"></InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="Push"></Label>
		<InputPrompt class="inputlist-entry-key" Action="Use"></InputPrompt>
	</div>
	<div class="inputlist-entry">
		<Label class="inputlist-entry-action" Text="View"></Label>
		<InputPrompt class="inputlist-entry-key" Action="View"></InputPrompt>
	</div>
</div>
