@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HNS

<div id="inputlist-container">
	@foreach (var entry in entries)
	{
		@if (!entry.IsActive()) continue;
		<div class="inputlist-entry">
			<Label class="inputlist-entry-action" Text="@entry.Label"></Label>
			<InputPrompt class="inputlist-entry-key" Action="@entry.Action"></InputPrompt>
		</div>
	}
</div>

@code
{
	IEntry[] entries = {
		new ChatEntry()
	};

	int ActiveEntryCount = 0;

	interface IEntry
	{
		public bool IsActive();

		public string Action { get; }
		public string Label { get; }
	}

	public override void Tick()
	{
		ActiveEntryCount = 0;
		foreach (var entry in entries)
		{
			if (entry.IsActive())
			{
				ActiveEntryCount += 1;
			}
		}
	}

	protected override int BuildHash() => ActiveEntryCount;

	class ChatEntry : IEntry
	{
		public bool IsActive()
		{
			return true;
		}

		public string Action => "Chat";
		public string Label => "Chat";
	}
}
