@import '../GUI.razor.scss';

StatusBar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $container-padding;
    justify-content: flex-end;
    flex-direction: column;
    font-size: $large-font-size;
    font-weight: $large-font-weight;
    text-shadow: $label-text-shadow;

    #statusbar-label {
        padding-left: 32px;
    }

    #statusbar-horizontal-container {
        column-gap: 2px;
        align-items: center;

        #statusbar-icon {
            width: 30px;
            height: 28px;
        }

        #statusbar-background {
            width: 450px;
            height: 30px;
            background-color: $background-color;
            border-radius: $background-border-radius;
            box-shadow: $background-box-shadow;
            border: $background-border;
            backdrop-filter: $background-backdrop-filter;

            #statusbar-fill {
                border-radius: 2px;
                width: 100%;
                height: 100%;

                &.hider {
                    background-image-tint: $hider-color;
                    background-image: url("textures/stamina_bar.png");

                    &.flash {
                        animation: 0.6s flash-fill-hider infinite;
                    }
                }

                &.seeker {
                    background-image-tint: $seeker-color;
                    background-image: url("textures/stamina_bar.png");

                    &.flash {
                        animation: 0.6s flash-fill-seeker infinite;
                    }
                }
            }
        }
    }
}

@keyframes flash-fill-hider {
    0% {
        background-image-tint: $hider-color;
    }

    50% {
        background-image-tint: #7a8c91;
    }

    100% {
        background-image-tint: $hider-color;
    }
}

@keyframes flash-fill-seeker {
    0% {
        background-image-tint: $seeker-color;
    }

    50% {
        background-image-tint: #f2a091;
    }

    100% {
        background-image-tint: $seeker-color;
    }
}