@import '../GUI.razor.scss';

#statusbar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $container-padding;
    justify-content: flex-end;
    flex-direction: column;
    font-size: $large-font-size;

    #statusbar-background {
        width: 450px;
        height: 30px;
        background-color: $background-color;
        border: $background-border;
        border-radius: $background-border-radius;

        #statusbar-fill {
            width: 100%;
            height: 100%;

            &.hider {
                background-color: $hider-color;
            }

            &.seeker {
                background-color: $seeker-color;
            }
        }
    }
}