@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services.Players;
@using System;
@inherits Panel
@namespace HNS

<Label id="statusbar-label" Text="@Label"></Label>
<div id="statusbar-horizontal-container">
	<div id="statusbar-background">
		<div id="statusbar-fill" class="@Role @Flash" style="width: @Stamina;"></div>
	</div>
</div>
<div class="input-prompt-group">
	<InputPrompt>LSHIFT</InputPrompt>
</div>

@code
{
	string Label => $"{Name} ({Role})";
	string Name => Profile.Local.Name;

	string Role
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "";

			var role = player.CurrentRole;
			if (role == null) return "";

			return role.Name;
		}
	}

	string Stamina
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "100%";

			return $"{(player.CurrentStamina / player.MaxStamina) * 100}%";
		}
	}

	string Flash
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "";

			return player.IsSprinting ? "flash" : "";
		}
	}

	protected override int BuildHash() => HashCode.Combine(Role, Stamina);
}
