@import '../GUI.razor.scss';

StatusBar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gui-padding;
    justify-content: flex-end;
    flex-direction: column;

    #statusbar-label {
        font-size: $primary-font-size;
        font-weight: $primary-font-weight;
        text-shadow: $primary-text-shadow;
        font-family: $primary-font-family;
        color: $primary-color;
    }

    #statusbar-background {
        width: 400px;
        height: 35px;
        @include panel;

        #statusbar-fill {
            width: 100%;
            height: 100%;
            border-radius: $panel-border-radius;

            &.hider {
                background-image-tint: $hider-color;
                background-image: $noise-texture;

                &.flash {
                    animation: 0.6s flash-hider infinite;
                }
            }

            &.seeker {
                background-image-tint: $seeker-color;
                background-image: $noise-texture;

                &.flash {
                    animation: 0.6s flash-seeker infinite;
                }
            }
        }
    }

    .statusbar-bottom {
        padding-top: 5px;
    }
}