@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services.Players;
@using System;
@inherits Panel
@namespace HNS

<div id="statusbar-container" class="container">
	<Label id="statusbar-label" Text="@Label"></Label>
    <div id="statusbar-background" class="background">
        <div id="statusbar-fill" class="@Role" style="width: @Stamina;"></div>
    </div>
</div>

@code
{
	string Label => $"{Name} ({Role})";
	string Name => Profile.Local.Name;

	string Role
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "";

			var role = player.CurrentRole;
			if (role == null) return "";

			return role.Name;
		}
	}

	string Stamina
	{
		get
		{
			var player = Player.GetLocal();
			if (player == null) return "100%";

			return $"{(player.CurrentStamina / player.MaxStamina) * 100}%";
		}
	}

	protected override int BuildHash() => HashCode.Combine(Role, Stamina);
}
